<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VulnWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.eveino.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
<!--   <filter>
    <filter-name>HtmlFilter</filter-name>
    <filter-class>com.eveino.web.filter.HtmlFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HtmlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> -->
  <filter>
    <filter-name>WordsFilter</filter-name>
    <filter-class>com.eveino.web.filter.WordsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WordsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>XssFilter</filter-name>
    <filter-class>com.eveino.web.filter.XssFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>XssFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>XSSServlet</display-name>
    <servlet-name>XSSServlet</servlet-name>
    <servlet-class>com.eveino.web.controller.XSSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XSSServlet</servlet-name>
    <url-pattern>/XSSServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServletUI</display-name>
    <servlet-name>LoginServletUI</servlet-name>
    <servlet-class>com.eveino.web.UI.LoginServletUI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServletUI</servlet-name>
    <url-pattern>/LoginServletUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.eveino.web.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServletUI</display-name>
    <servlet-name>RegisterServletUI</servlet-name>
    <servlet-class>com.eveino.web.UI.RegisterServletUI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServletUI</servlet-name>
    <url-pattern>/RegisterServletUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.eveino.web.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadFileTest</display-name>
    <servlet-name>uploadFileTest</servlet-name>
    <servlet-class>com.eveino.test.uploadFileTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadFileTest</servlet-name>
    <url-pattern>/uploadFileTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.eveino.web.controller.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CmdServlet</display-name>
    <servlet-name>CmdServlet</servlet-name>
    <servlet-class>com.eveino.web.controller.CmdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CmdServlet</servlet-name>
    <url-pattern>/CmdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.eveino.web.controller.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
</web-app>